[logging]
log_level = debug
log_folder = /var/log

[database]
connection = mssql+pyodbc://MSSQL_USER:MSSQL_PASSWORD@nodedb/MSSQL_DATABASE?driver=/opt/microsoft/msodbcsql17/lib64/libmsodbcsql-17.10.so.5.1
